interactions:
- request:
    body: '{"location": "westus"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_resource_test_deployments_linked_template_errorafa117b7?api-version=2016-07-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/test_mgmt_resource_test_deployments_linked_template_errorafa117b7","name":"test_mgmt_resource_test_deployments_linked_template_errorafa117b7","location":"westus","properties":{"provisioningState":"Succeeded"}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 201, message: Created}
- request:
    body: '{"properties": {"parametersLink": {"uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-vm-simple-linux/azuredeploy.parameters.json"},
      "mode": "Incremental", "templateLink": {"uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-vm-simple-linux/azuredeploy.json"}}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/test_mgmt_resource_test_deployments_linked_template_errorafa117b7/providers/Microsoft.Resources/deployments/pytestlinkedafa117b7?api-version=2016-07-01
  response:
    body: {string: '{"error":{"code":"InvalidTemplateDeployment","message":"The template
        deployment ''pytestlinkedafa117b7'' is not valid according to the validation
        procedure. The tracking id is ''cb8981e8-1329-4b78-abed-829b8c90bf96''. See
        inner errors for details. Please see https://aka.ms/arm-deploy for usage details.","details":[{"code":"InvalidDomainNameLabel","message":"The
        domain name label GEN-UNIQUE is invalid. It must conform to the following
        regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$.","details":[]}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      x-ms-failure-cause: [gateway]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 400, message: Bad Request}
version: 1
